<footer>
     <h3 class="b-m-2em"> EPMS website &copy;copyright rule are apply.</h3>
     <div class="footer-box flex-space-evenly">
          <div class="footer-items"> greekforgreek.con  </div>
          <!-- <div class="border"></div> -->
          <div class="footer-items"> w3school.com </div>
          <div class="footer-items"> w3school.com </div>
          <div class="footer-items"> w3school.com </div>
     </div>
</footer>