<div class="header">
     <nav class="navbar">
          <div class="logo">
               <img src="../Images/epms-removebg-preview.png" alt="ḷogo of EPMS">     
               EPMS
          </div>
          <ul>
               <li> <a href="./home"> Home </a></li>
               <li> <a href="./activity"> Activity </a></li>

               {{!-- admin service section --}}
               <li class="admin"> <a href="./service"> Service </a></li> 

               {{!-- industry or defult service section --}}
               <li  class="industry"> <a href="./service"> Service </a></li> 

               {{!-- worker service section --}}
               <li class="drop-down-menu worker">
                    Services
                    <div class="drop-down-menu-items">
                         <div class="drop-down-items">
                              <a href="./workerService/currentService"> Current Service </a>
                              <a href="./workerService/cancelledService"> Cancelled Service </a>
                              <a href="./workerService/compaletedService"> Complated Service </a>
                         </div>
                    </div>
               </li> 

               {{!-- customer service section --}}
               <li class="drop-down-menu customer">
                    Services
                    <div class="drop-down-menu-items">
                         <div class="drop-down-items">
                              <a href="./service/addService"> Add Service </a>
                              <a href="./service/currentService"> Current Service </a>
                              <a href="./service/oldService"> Old Service </a>
                         </div>
                    </div>
               </li>
               
               <li> <a href="./content"> Support </a></li>
               <li> <a href="./profile"> Profile </a></li>
          </ul>
     </nav>
</div>