<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- stylesheet -->
     <link rel="stylesheet" href="../CSS/commanStyle.css">
     <link rel="stylesheet" href="../CSS/forgetPass.css">

     <!--javascript -->
     <script src="../JavaScript/forgetPass.js" defer></script>

     <title>  E-Plastic Managment System </title>
</head>
<body>
     <div class="main flex-center">
          <input type="text" class="display" value="{{otp}}" id="otp-box">
          <div class="box flex-center flex-d-c">
               {{!-- <div class="content flex-center">
                    <img src="../Images/epms-removebg-preview.png" alt="" class="t-m-1em">
               </div> --}}
               <h1> Reset Password </h1>
               <div class="flex-center">        
                    <form action="#" method="post" class="form flex-center flex-d-c" >
                         <label for="otp">
                              <input type="text" name="otp" placeholder="Enter a OTP.." style="text-align: center" id="otp" required>
                         </label>
                         <button type="submit" class="btn vertical-center t-m-2em"> Forget Password </button>
                    </form>    
               </div>
               <div class="t-m-3em w-70 reset">
                    <form action="/forgetPassword/resetPassword" method="post" class="form flex-center flex-d-c">
                         <label for="pass"> 
                              <input type="password" name="password" placeholder="Enter a user password.." required>
                         </label>
                         <label for="cPass" class="t-m-1em"> 
                              <input type="password" name="confirmPassword" placeholder="Enter a user password.." required>
                         </label>
                         <input type="hidden" name="email" value="{{email}}" required>
                         <button type="sumbit" class="btn vertical-center t-m-2em"> Reset Password </button>
                    </form>
               </div>
          </div>
     </div>
</body>
</html>