<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- {{!-- stylesheet --}} -->
     <link rel="stylesheet" href="../CSS/error.css">


     <title>  E-Plastic Managment System  </title>
</head>
<body>
     <div class="main">
          <img src="../Images/404-removebg-preview.png" alt="404 error" />
     </div>
     <div class="content"> 
          <p> Page Not Found </p>
          Go black to 
          <a href="/"> Home </a>
     </div>
</body>
</html>