<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- stylesheet -->
     <link rel="stylesheet" href="../CSS/commanStyle.css">
     <link rel="stylesheet" href="../CSS/forgetPass.css">

     <title>  E-Plastic Managment System </title>
</head>
<body>
     <div class="main flex-center">
          <div class="box flex-center flex-d-c">
               {{!-- <div class="content flex-center">
                    <img src="../Images/epms-removebg-preview.png" alt="" class="t-m-1em">
               </div> --}}
               <h1> Forget Password </h1>
               <div class="flex-center">
                    <form action="/forgetPassword/otp" method="post" class="form flex-center flex-d-c">
                         <label for="email"> 
                              <input type="email" name="email" placeholder="Enter a user email.." required>
                         </label>
                         <button type="sumbit" class="btn vertical-center t-m-2em"> Send OTP </button>
                    </form>           
               </div>
          </div>
     </div>
</body>
</html>