<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- favicon  -->
     <link rel="shortcut icon" href="../Images/Favicon/android-chrome-192x192.png" type="image/x-icon">

     <!-- stylesheet -->
     <link rel="stylesheet" href="/CSS/stylesheet.css">
     <link rel="stylesheet" href="/CSS/mediaQuery.css">
     <link rel="stylesheet" href="/CSS/commanStyle.css">
     <link rel="stylesheet" href="/CSS/navbar.css">
     <link rel="stylesheet" href="/CSS/activity.css">

      <!-- javascripting  -->
      <script src="/JavaScript/DynamicJS/addDynamicServiceData.js" defer></script>
      <script src="/JavaScript/service.js" defer></script>

     <title> E-Plastic Managment System </title>
</head>
<body>
     <div class="header">
          <nav class="navbar">
               <div class="logo">
                    EPMS
               </div>
               <ul>
                    <li> <a href="../home"> Home </a></li>
                    <li> <a href="../activity"> Activity </a></li>
                    <li class="drop-down-menu">
                         Services
                         <div class="drop-down-menu-items">
                              <div class="drop-down-items">
                                   <a href="./currentService"> Current Service </a>
                                   <a href="./compaletedService"> Compaleted Service </a>
                                   <a href="./cancelledService"> Cancelled Service </a>
                              </div>
                         </div>
                    </li>
                    <!-- <li> <a href="#"> Service </a></li> -->
                    <li> <a href="../content"> Support </a></li>
                    <li> <a href="../profile"> Profile </a></li>
               </ul>
          </nav>
     </div>
     <div class="main">
          <h1 class="text-center"> Current Service </h1>

          <input type="text" class="display-none" value="{{noOfData}}" id="numberOfOldData">
          <input type="text" class="display-none" value="{{data}}" id="OldData">
          <input type="text" class="display-none" value="{{role}}" id="role">

          <div class="activity-box">
               <div class="w-100 f-s-larg f-w-600 activity-items  drop-down">
                    <span class="f-s-larg"> Running Service </span>
                    {{!-- <div class="drop-down-items activity-child-item display">
                         <div class="child-drop-down">
                              <div class="service-container">
                                   <div class="t-m-0-5em flex-space-between f-s-madiam">
                                        <div class="inline">
                                             <h4 class="inline"> Subject : </h4>
                                             <span class="f-s-small f-w-400"> Dry plastic </span>
                                        </div>
                                   </div>
                              </div>
                              <div class="child-drop-down-items service-container display">
                                   <div class="service-container-header t-m-0-5em flex-space-between f-s-madiam">
                                        <div class="inline">
                                             <h4 class="inline"> Subject : </h4>
                                             <span class="f-s-small f-w-400"> Dry plastic </span>
                                        </div>
                                        <div class="inline">
                                             <h4 class="inline"> Service Id : </h4>
                                             <span class="f-s-small f-w-400"> 1 </span>
                                        </div>
                                        <div class="inline">
                                             <h4 class="inline"> Date : </h4>
                                             <span class="f-s-small f-w-400"> 2 May, 2023 </span>
                                        </div>
                                   </div>
                                   <div class="service-container-main t-m-1em f-s-small">
                                        <div class="block">
                                             <h4 class="r-m-1em inline f-w-550"> Customer name : </h4>
                                             <span class="f-s-small f-w-400"> Jaydeep Panchachara </span>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="r-m-1em inline"> Customer moblie no : </h4>
                                             <span class="f-s-small f-w-400"> 8128000530 </span>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Customer E-mail : </h4>
                                             <span class="f-s-small f-w-400"> valashailesh111@gmail.com </span>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Customer address : </h4>
                                             <span class="f-s-small f-w-400"> Lorem ipsum dolor sit amet, consectetur
                                                  adipisicing elit. Earum, voluptatem. </span>
                                        </div>
                                        <hr class="v-m-1em" />
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Plastic type : </h4>
                                             <span class="f-s-small f-w-400"> solid </span>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Plastic weight (approx.) : </h4>
                                             <span class="f-s-small f-w-400"> 10 kg </span>
                                        </div>
                                        <div class="block">
                                             <h4 class="w-100px"> Details :: </h4>
                                             <span class="f-s-small f-w-400"> Lorem ipsum dolor sit amet consectetur
                                                  adipisicing elit. Aperiam fugit officiis incidunt, nisi beatae sit id
                                                  magnam minus voluptatem consectetur maxime aliquid, veniam doloribus nobis
                                                  natus dignissimos sed impedit!</span>
                                        </div>
                                        <hr class="v-m-1em" />
                                        <div class="flex-space-between w-50">
                                             <div class="inline v-m-0-5em">
                                                  <h4 class="inline r-m-1em"> Requset date : </h4>
                                                  <span class="f-s-small f-w-400"> 1 may ,2023 </span>
                                             </div>
                                             <div class="block v-m-0-5em">
                                                  <h4 class="inline r-m-1em"> Requset time : </h4>
                                                  <span class="f-s-small f-w-400"> 01 : 30 AM </span>
                                             </div>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Requset status : </h4>
                                             <span class="f-s-small f-w-400"> Running </span>
                                        </div>
                                   </div>
                                   <div class="service-container-header t-m-1em f-s-madiam">
                                        <div class="w-90 f-s-small">
                                             <button class="btn btn-right top-1em-transfer danger">
                                                  <a href=""> Cencel </a>
                                             </button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="drop-down-items activity-child-item display">
                         <div class="child-drop-down">
                              <div class="service-container">
                                   <div class="t-m-0-5em flex-space-between f-s-madiam">
                                        <div class="inline">
                                             <h4 class="inline"> Subject : </h4>
                                             <span class="f-s-small f-w-400"> Dry plastic </span>
                                        </div>
                                   </div>
                              </div>
                              <div class="child-drop-down-items service-container display">
                                   <div class="service-container-header t-m-0-5em flex-space-between f-s-madiam">
                                        <div class="inline">
                                             <h4 class="inline"> Subject : </h4>
                                             <span class="f-s-small f-w-400"> Dry plastic </span>
                                        </div>
                                        <div class="inline">
                                             <h4 class="inline"> Service Id : </h4>
                                             <span class="f-s-small f-w-400"> 1 </span>
                                        </div>
                                        <div class="inline">
                                             <h4 class="inline"> Date : </h4>
                                             <span class="f-s-small f-w-400"> 2 May, 2023 </span>
                                        </div>
                                   </div>
                                   <div class="service-container-main t-m-1em f-s-small">
                                        <div class="block">
                                             <h4 class="r-m-1em inline f-w-550"> Customer name : </h4>
                                             <span class="f-s-small f-w-400"> Jaydeep Panchachara </span>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="r-m-1em inline"> Customer moblie no : </h4>
                                             <span class="f-s-small f-w-400"> 8128000530 </span>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Customer E-mail : </h4>
                                             <span class="f-s-small f-w-400"> valashailesh111@gmail.com </span>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Customer address : </h4>
                                             <span class="f-s-small f-w-400"> Lorem ipsum dolor sit amet, consectetur
                                                  adipisicing elit. Earum, voluptatem. </span>
                                        </div>
                                        <hr class="v-m-1em" />
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Plastic type : </h4>
                                             <span class="f-s-small f-w-400"> solid </span>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Plastic weight (approx.) : </h4>
                                             <span class="f-s-small f-w-400"> 10 kg </span>
                                        </div>
                                        <div class="block">
                                             <h4 class="w-100px"> Details :: </h4>
                                             <span class="f-s-small f-w-400"> Lorem ipsum dolor sit amet consectetur
                                                  adipisicing elit. Aperiam fugit officiis incidunt, nisi beatae sit id
                                                  magnam minus voluptatem consectetur maxime aliquid, veniam doloribus nobis
                                                  natus dignissimos sed impedit!</span>
                                        </div>
                                        <hr class="v-m-1em" />
                                        <div class="flex-space-between w-50">
                                             <div class="inline v-m-0-5em">
                                                  <h4 class="inline r-m-1em"> Requset date : </h4>
                                                  <span class="f-s-small f-w-400"> 1 may ,2023 </span>
                                             </div>
                                             <div class="block v-m-0-5em">
                                                  <h4 class="inline r-m-1em"> Requset time : </h4>
                                                  <span class="f-s-small f-w-400"> 01 : 30 AM </span>
                                             </div>
                                        </div>
                                        <div class="block v-m-0-5em">
                                             <h4 class="inline r-m-1em"> Requset status : </h4>
                                             <span class="f-s-small f-w-400"> Running </span>
                                        </div>
                                   </div>
                                   <div class="service-container-header t-m-1em f-s-madiam">
                                        <div class="w-90 f-s-small">
                                             <button class="btn btn-right top-1em-transfer danger">
                                                  <a href=""> Cencel </a>
                                             </button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div> --}}
               </div>
          </div>
     </div>
</body>
</html>