@media only screen and (max-width: 1700px){
     .invisiable{
          display: none;
     }
}

@media only screen and (max-width: 1251px){
     .user-identity-box-item{
          width: 11em;
          height: 11em;
     }
}

@media only screen and (max-width: 768px){
     .auto-set{
          margin-inline: 10em;
     }
}