/* for navbar */

/* .header{
     width: 100vw;
     min-width: 800px;
     height: max-content;
     margin-inline: auto;
     margin-top: 1rem;
     background-color: transparent;
     box-shadow: 1px 1px 5px 2px  #726f6f7a;
}
.navbar{
     width: 90vw;
     min-width: 790px;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-inline: auto;
     z-index: 0;
     user-select: none;
}
.logo{
     font-size: 2em;
     margin-inline: 1em;
     font-weight: 600;
}
ul{
     width: 60vw;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: right;
     margin-inline: 2em;
}
li{
     height: 100%;
     line-height: 60px;
     list-style: none;
     font-size: 1.3em;     
     font-weight: 500;
     margin-inline: 1em;
     cursor: pointer;
}
li:hover{
     transform: scale(1.04);
}
li a{
     text-decoration: none;
     color: #000;
} */


/* navbar menu drop-down */
.drop-down-menu{
     position: relative;
     /* border: 1px solid green; */
     z-index: 1;
}
.drop-down-menu-items{
     display: none;
     width: 200px;
     position: absolute;
     left: -2.9em;
     bottom: -4.8em;
     border: none;
     border-radius: .1em;
     box-shadow: 0 0 5px 2px #00000027;
     padding: .5em .4em;
     background-color: #fff;
     /* backdrop-filter: blur(0px); */
     z-index: 3;
}
.drop-down-menu-items::before{
     content: "";
     position: absolute;
     left: 4em;
     top: -.5em;
     width: 1em;
     height: 1em;
     background-color: #fff;
     transform: rotateZ(45deg);
     /* box-shadow: 0 0 4px 2px #00000059; */
     z-index: -2;
}
.drop-down-menu-items a{
     height: max-content;
     display: block;
     font-size: .9em;
     line-height: 1em;
     padding: .2em .6em;
     cursor: pointer;
}
.drop-down-menu-items a:hover{
     border: none;
     /* font-weight: 600; */
     transform: translateX(1.2px);
     opacity: .9;
     border-radius: .2em;
     background-color: rgba(161, 159, 159, 0.171)
     /* background-color: skyblue; */
}
.drop-down-menu:hover .drop-down-menu-items{
     display: block;
}

/* scroll images */
.scroll_images{
     min-width: 800px;
     width: 90vw;
     min-height: 600px;
     height: 600px;
     margin-top: 1.3rem;
     margin-inline: auto;
     display: flex;
     justify-content: left;
     align-items: center;
     overflow: auto;
     overflow-y: hidden;

     /* image scroll effect */
     scroll-behavior: smooth;
     scroll-snap-type: x mandatory;
     /* scroll-snap-type: none; */
     scroll-margin: 0;
     scroll-margin-inline: 0;
     scroll-snap-align: center;
     z-index: -1;
}
.img{
     min-width: 100vw;
     height: 100%;
     margin-inline: .1em;
}
.img:last-child{
     margin-right: 0;
}
.img img{
     min-width: 700px;
     width: 100%;
     margin-inline: auto ;
     max-height:600px ;
     max-height: 80vh;
}
.scroll_images::-webkit-scrollbar {
     appearance: none;
}

/* info text */
.info{
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
     user-select: none ;
     z-index: 1;
}
.info img{
     /* display: none; */
     width: 8em;
     background-color: transparent;
}
.info h1{
     font-size: 2em;
     /* background-image: url("../Images/Plastic-Waste-Management-Rules.jpg"); */
     /* -webkit-text-fill-color: transparent; */
     /* -webkit-background-clip: text ; */
}
.info p:nth-of-type(1){
     margin-top: 1.3em;
}

/* bottom dot style */
.dot{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: 4em;
}
.dot_items{
     width: .8em;
     height: .8em;
     background-color: transparent;
     border: 2px solid #fff;
     border-radius: 50%;
     margin-inline: 1em;
     cursor: pointer;
     user-select: none;
}

/* box styling */
.box{
     width: 100%;
     height: max-content;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 2em;
     flex-wrap: wrap;
     /* flex-direction: column; */
}
.box-items{
     min-width: 300px;
     width: 300px;
     height: 240px;
     display: block;
     padding: 1em 2em ;
     margin: 1em 4em;
     border-radius: .5em;
     box-shadow: 0 0 5px 2px #aaa;
     background-color: #ffffffaf;
     position: relative;
}
.box-items h2{
     font-size: 2em;
     font-weight: 700;
}

.box-items .border{
     width: .3em;
     height: 90%;
     position: absolute;
     left: 1em;
     top: .4em;
     background-color: red;
     display: none;
}

.box-items:nth-child(1):hover .border{
     display: block;
     background-color: blue;     
}
.box-items:nth-child(1):hover h2{
     color: blue;
}
.box-items:nth-child(2):hover .border{
     display: block;
     background-color: green;     
}
.box-items:nth-child(2):hover h2{
     color: green;
}
.box-items:nth-child(3):hover .border{
     display: block;
     background-color: red;     
}
.box-items:nth-child(3):hover h2{
     color: red;
}
.box-items:nth-child(4):hover .border{
     display: block;
     background-color: orange;     
}
.box-items:nth-child(4):hover h2{
     color: orange;
}